<<<<<<< HEAD
/*-- ----- Font Import ----- -*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");


/*-- ----- Global Styling ----- -*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

* img {
  pointer-events: none;
  user-select: none;
}

body {
  background-color: #000000;
  color: #ffffff;
}

/*-- ----- Header ----- -*/
header {
  display: flex;
  justify-content: center;
  margin: 100px 0 50px 0;
  width: 100%;
}

#logo-container {
  margin-top: 10px;
  width: 200px;
}

#logo {
  width: 100%;
}


/*-- ----- Sign In / Sign Up Form ----- -*/
#form-container {
  max-width: 500px;
  width: 100%;
  min-width: 400px;
  height: 100%;
  padding: 70px 50px;
  background-color: #bebebe23;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

#form-container h2 {
  font-size: 2em;
}

#form-box {
  padding: 5px;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #ffffff;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  font-size: 1em;
  font-weight: 500;
  opacity: 0.5;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -1px;
}

.input-box input {
  color: #ffffff;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fdfdfd;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 0.9em;
  line-height: 57px;
}

#toggle-password-icon {
  cursor: pointer;
}

#btn {
  width: 100%;
  height: 40px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
}

.g-recaptcha {
  margin-bottom: 25px;
}

#redirect {
  font-size: 0.9em;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

#redirect p a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}

#redirect p a:hover {
  text-decoration: underline;
}

/*-- ----- Flask Flash Messages ----- -*/
.flash-messages .alert {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  text-align: center ;
  position: absolute;
  bottom: 0;
  left: 0;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
}

.alert-info {
  background-color: #d4edda;
  color: black;
}

.alert.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

/*-- ----- Responsiveness {Multi Device Compatibility} ----- -*/
@media (max-width: 510px) {
  #form-container {
    transform: scale(.8);
  }
  
  header {
    margin: 50px 0 0 0;
  }
}
=======
/*-- ----- Font Import ----- -*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");


/*-- ----- Global Styling ----- -*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

* img {
  pointer-events: none;
  user-select: none;
}

body {
  background-color: #000000;
  color: #ffffff;
}

/*-- ----- Header ----- -*/
header {
  display: flex;
  justify-content: center;
  margin: 100px 0 50px 0;
}

#logo-container {
  margin-top: 10px;
  width: 200px;
}

#logo {
  width: 100%;
}


/*-- ----- Sign In / Sign Up Form ----- -*/
#form-container {
  width: 500px;
  min-width: 500px;
  height: 100%;
  padding: 70px 50px;
  background-color: #bebebe23;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

#form-container h2 {
  font-size: 2em;
}

#form-box {
  padding: 5px;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #ffffff;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  font-size: 1em;
  font-weight: 500;
  opacity: 0.5;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -1px;
}

.input-box input {
  color: #ffffff;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fdfdfd;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 0.9em;
  line-height: 57px;
}

#toggle-password-icon {
  cursor: pointer;
}

#btn {
  width: 100%;
  height: 40px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 25px;
}

#redirect {
  font-size: 0.9em;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

#redirect p a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}

#redirect p a:hover {
  text-decoration: underline;
}

/*-- ----- Flask Flash Messages ----- -*/
.flash-messages .alert {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  text-align: center ;
  position: absolute;
  bottom: 0;
  left: 0;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
}

.alert-info {
  background-color: #d4edda;
  color: black;
}

.alert.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
>>>>>>> e15557ecab5bdcb2311bbce011b5afc1d0f69998
