<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* img {
  pointer-events: none;
  user-select: none;
}

/*-- ----- Custom Scrollbar ----- -*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #000000d2;
  border: #fff;
}

::-webkit-scrollbar-track {
  background-color: #bebebe;
}


/* ====== BODY ====== */

#main {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "a b";
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

/* ====== NavBar ====== */

#left-sidebar {
  grid-area: "a";
  background-color: #000;
  width: 245px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  padding: 30px 20px;
}

#header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

#header-logo img {
  width: 200px;
}

#navbar .nav-link {
  position: relative;
  width: 200px;
  height: 40px;
  font-size: 1rem;
  border-radius: 10px;
  margin-top: 15px;
  transition: 0.2s ease-in-out;
}

#navbar .nav-link i {
  font-size: 1.6rem;
  margin-right: 10px;
}

#navbar .nav-link:hover {
  background-color: #fff;
}

#navbar .nav-link a {
  width: 100%;
  height: 100%;
  padding: 20px;
  color: #ccc;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: 0.2s ease-in-out;
}

#navbar .nav-link:hover a {
  color: #000;
}

#navbar .nav-link .active {
  color: #fff;
}

#navbar .nav-link .active::before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: 2px;
  height: 100%;
  background-color: #fff;
}

#user-info {
  color: #fff;
  margin: 0 10px 20px 10px;
  padding: 5px;
  border-radius: 10px;
  gap: 5px;
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

#user-info:hover {
  background-color: #292929;
}

#user-info #user-email h5 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 82%;
}

#user-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
}

.popup {
  display: none; 
  position: absolute;
  bottom: 80px;
  left: 13px;
  width: 220px;
  background-color: #3d3d3d;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.popup::after {
  content: "";
  position: absolute;
  left: 5%;
  border-width: 10px;
  border-style: solid;
  border-color: #3d3d3d transparent transparent transparent;
}

.popup-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  text-wrap: nowrap;
  color: white;
}

.logout-button {
  width: 100%;
  color: white;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.logout-button:hover {
  background-color: #c9302c;
}

.logout-button i {
  transform: rotate(180deg);
  margin-left: 10px;
}

/* ====== MAIN Content ====== */

main {
  grid-area: "b";
  background-color: #fff;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

/*-- ----- Courses Section ----- -*/

#course-header {
  background: url(../Images/courses.jpg) 0 -50px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#header-content {
  margin: 0 0 0 180px;
}

#course-header h2{
  font-size: 2.5rem;
  text-transform: capitalize;
}

#courses {
  width: 90%;
  margin-inline: auto;
  margin-block: 50px;
  text-transform: capitalize;
}

#courses-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  width: 100%;
  margin: auto;
  padding: 30px;
}

.course {
  background-color: #e7e7e7;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  padding: 20px;
  cursor: default;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  transition: 0.2s ease-in-out;
}

.course:hover {
  box-shadow: 0 2px 40px rgba(0, 0, 0, 0.3);
}

.course h3 {
  margin: 10px 0 0 0;
}

.course p {
  margin-top: 5px;
  font-family: "Poppins", "Raleway";
}

.course img {
  width: 100%;
  transition: 0.2s ease-in-out;
}

.course:hover img {
  transform: scale(1.1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.course-btn {
  width: 100%;
  background-color: #000000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 10px;
  text-align: center;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.course a {
  color: #ffffff;
  text-decoration: none;
}

.course a:hover {
  color: #bebebe;
}

.course-btn:hover {
  transform: scale(1.05);
}

/* Dialog overlay (darkened background) */
.dialog-overlay {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

/* Dialog box styling */
.dialog-box {
  background-color: #fff;
  color: #111;
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

/* Dialog title */
.dialog-box h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #000;
  text-shadow: 3px 3px 2px rgba(255, 255, 255, 0.2);
}

/* Dialog image */
.dialog-box .dialog-image {
  width: 100%;
  height: 100px;
  background-image: url("../Images/courseBanner.png");
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 20px;
}

/* Close button styling */
.close-button {
  position: absolute;
  bottom: 20px;
  left: 128px;
  width: 100px;
  background-color: #fff;
  color: #000;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

/* Dialog description */
.dialog-box p {
  margin-bottom: 10px;
  font-size: 1em;
  line-height: 1.5;
}

.dialog-btn {
  width: 100px;
  background-color: #000000;
  color: #fff;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

/* ====== User Info ====== */
@media (max-width: 768px) {
  #main {
    grid-template-columns: 100%;
    grid-template-areas: "a" "b" "c";
  }

  #left-sidebar {
    grid-area: "a";
    background-color: black;
    width: 100%;
    height: 70px;
  }

  main {
    grid-area: "b";
    background-color: red;
    width: 100%;
    height: 100%;
  }

  #right-sidebar {
    grid-area: "c";
    background-color: blue;
    width: 100%;
    height: 100%;
  }
}
=======
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* img {
  pointer-events: none;
  user-select: none;
}

/*-- ----- Custom Scrollbar ----- -*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #000000d2;
  border: #fff;
}

::-webkit-scrollbar-track {
  background-color: #bebebe;
}


/* ====== BODY ====== */

#main {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "a b";
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

/* ====== NavBar ====== */

#left-sidebar {
  grid-area: "a";
  background-color: #000;
  width: 245px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  padding: 30px 20px;
}

#header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

#header-logo img {
  width: 200px;
}

#navbar .nav-link {
  position: relative;
  width: 200px;
  height: 40px;
  font-size: 1rem;
  border-radius: 10px;
  margin-top: 15px;
  transition: 0.2s ease-in-out;
}

#navbar .nav-link i {
  font-size: 1.6rem;
  margin-right: 10px;
}

#navbar .nav-link:hover {
  background-color: #fff;
}

#navbar .nav-link a {
  width: 100%;
  height: 100%;
  padding: 20px;
  color: #ccc;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: 0.2s ease-in-out;
}

#navbar .nav-link:hover a {
  color: #000;
}

#navbar .nav-link .active {
  color: #fff;
}

#navbar .nav-link .active::before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: 2px;
  height: 100%;
  background-color: #fff;
}

#user-info {
  color: #fff;
  margin: 0 10px 20px 10px;
  padding: 5px;
  border-radius: 10px;
  gap: 5px;
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

#user-info:hover {
  background-color: #292929;
}

#user-info #user-email h5 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 82%;
}

#user-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
}

.popup {
  display: none; 
  position: absolute;
  bottom: 80px;
  left: 13px;
  width: 220px;
  background-color: #3d3d3d;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.popup::after {
  content: "";
  position: absolute;
  left: 5%;
  border-width: 10px;
  border-style: solid;
  border-color: #3d3d3d transparent transparent transparent;
}

.popup-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  text-wrap: nowrap;
  color: white;
}

.logout-button {
  width: 100%;
  color: white;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.logout-button:hover {
  background-color: #c9302c;
}

.logout-button i {
  transform: rotate(180deg);
  margin-left: 10px;
}

/* ====== MAIN Content ====== */

main {
  grid-area: "b";
  background-color: #fff;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

/*-- ----- Courses Section ----- -*/

#course-header {
  background: url(../Images/courses.jpg) 0 -50px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#header-content {
  margin: 0 0 0 180px;
}

#course-header h2{
  font-size: 2.5rem;
  text-transform: capitalize;
}

#courses {
  width: 90%;
  margin-inline: auto;
  margin-block: 50px;
  text-transform: capitalize;
}

#courses-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  width: 100%;
  margin: auto;
  padding: 30px;
}

.course {
  background-color: #e7e7e7;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  padding: 20px;
  cursor: default;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  transition: 0.2s ease-in-out;
}

.course:hover {
  box-shadow: 0 2px 40px rgba(0, 0, 0, 0.3);
}

.course h3 {
  margin: 10px 0 0 0;
}

.course p {
  margin-top: 5px;
  font-family: "Poppins", "Raleway";
}

.course img {
  width: 100%;
  transition: 0.2s ease-in-out;
}

.course:hover img {
  transform: scale(1.1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.course-btn {
  width: 100%;
  background-color: #000000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 10px;
  text-align: center;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.course a {
  color: #ffffff;
  text-decoration: none;
}

.course a:hover {
  color: #bebebe;
}

.course-btn:hover {
  transform: scale(1.05);
}

/* Dialog overlay (darkened background) */
.dialog-overlay {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

/* Dialog box styling */
.dialog-box {
  background-color: #fff;
  color: #111;
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

/* Dialog title */
.dialog-box h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #000;
  text-shadow: 3px 3px 2px rgba(255, 255, 255, 0.2);
}

/* Dialog image */
.dialog-box .dialog-image {
  width: 100%;
  height: 100px;
  background-image: url("../Images/courseBanner.png");
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 20px;
}

/* Close button styling */
.close-button {
  position: absolute;
  bottom: 20px;
  left: 128px;
  width: 100px;
  background-color: #fff;
  color: #000;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

/* Dialog description */
.dialog-box p {
  margin-bottom: 10px;
  font-size: 1em;
  line-height: 1.5;
}

.dialog-btn {
  width: 100px;
  background-color: #000000;
  color: #fff;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

/* ====== User Info ====== */
@media (max-width: 768px) {
  #main {
    grid-template-columns: 100%;
    grid-template-areas: "a" "b" "c";
  }

  #left-sidebar {
    grid-area: "a";
    background-color: black;
    width: 100%;
    height: 70px;
  }

  main {
    grid-area: "b";
    background-color: red;
    width: 100%;
    height: 100%;
  }

  #right-sidebar {
    grid-area: "c";
    background-color: blue;
    width: 100%;
    height: 100%;
  }
}
>>>>>>> e15557ecab5bdcb2311bbce011b5afc1d0f69998
