<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* img {
  pointer-events: none;
  user-select: none;
}

/* ====== BODY ====== */

#main {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "a b c";
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

/* ====== NavBar ====== */

#left-sidebar {
  grid-area: "a";
  background-color: #000;
  width: 245px;
  height: 100vh;
  z-index: 1;
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.4);
}

header {
  padding: 30px 20px;
}

#header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

#header-logo img {
  width: 200px;
}

#navbar .nav-link {
  position: relative;
  width: 200px;
  height: 50px;
  font-size: 1rem;
  border-radius: 10px;
  margin-top: 15px;
  transition: 0.2s ease-in-out;
}

#navbar .nav-link i {
  font-size: 1.6rem;
  margin-right: 10px;
}

#navbar .nav-link:hover {
  background-color: #fff;
}

#navbar .nav-link a {
  width: 100%;
  height: 100%;
  padding: 20px;
  color: #ccc;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: 0.2s ease-in-out;
}

#navbar .nav-link:hover a {
  color: #000;
}

#navbar .nav-link .active {
  color: #fff;
}

#navbar .nav-link .active::before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: 2px;
  height: 100%;
  background-color: #fff;
}

/* ====== MAIN Content ====== */

main {
  grid-area: "b";
  background-color: #ccc;
  width: 100%;
  height: 100vh;
}

/* ====== Hero Section ====== */
#hero {
  width: 95%;
  height: 100%;
  margin: auto;
  margin-top: 20px;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
}

#hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0 50px 80px;
}

#hero-content h1 {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}

#hero-content p {
  font-size: 1.2rem;
  margin-top: 5px;
}

#hero-img {
  width: fit-content;
  padding: 0 100px;
}

#hero-img img {
  width: 300px;
}

/* ====== DashBoard ====== */
#dashboard {
  width: 95%;
  margin: auto;
}

#cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-columns: max-content;
  grid-gap: 30px;
  margin-top: 40px;
}

#cards :nth-child(2) {
  grid-column: span 2;
  grid-row: span 2;
}

.card img {
  width: 80%;
}

.card {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
}

/* ====== Student Performance Prediction Model ====== */
#model {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form-wrapper {
  width: 97%;
  height: 97vh;
  border-radius: 10px;
  background-image: url(../Images/ModelBG.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#prediction-form h1 {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 40px;
}

#form {
  display: flex;
  justify-content: center;
}

#form-container {
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 500px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #333;
  font-weight: bold;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="number"]:focus {
  border-color: #000;
  outline: none;
}

/* Button Styling */
#submit-button {
  width: 100%;
  background-color: #000;
  color: white;
  border: none;
  padding: 10px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#submit-button:hover {
  background-color: #0000009a;
}

#result {
  margin-top: 20px;
  text-align: center;
}

/* ====== Assignment ====== */
#form-responses {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

iframe {
  width: 97%;
  height: 97vh;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* ====== Right Sidebar ====== */

#right-sidebar {
  grid-area: "c";
  width: 360px;
  height: 100vh;
  z-index: 1;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
}

/* ====== User Info ====== */

#user-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
  border-radius: 10px;
  padding: 10px 10px 10px 20px;
  gap: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  user-select: none;
  transition: .2s ease-in-out
}

#user-info:hover {
  background-color: #e7e7e7;
}

#user-icon {
  font-size: 2.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  display: none; 
  position: absolute;
  top: 85px;
  right: 20px;
  width: 320px;
  background-color: #d1d1d1;
  color: black;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.popup::after {
  content: "";
  position: absolute;
  top: -30%;
  left: 30px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #d1d1d1 transparent;
}

.popup-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  text-wrap: nowrap;
}

.logout-button {
  color: black;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: .2s ease-in-out
}

.logout-button:hover {
  background-color: #c9302c;
  color: white;
}

.logout-button i {
  transform: rotate(180deg);
  margin-left: 10px;
}

/* ====== Calendar ====== */

#calendar-container {
  font-family: "Poppins", sans-serif;
}

#calendar h3 {
  font-weight: 600;
}

.calendar {
  margin: 20px;
  width: clamp(20rem, 0vw + 20rem, 20rem);
  padding: 1rem;
  background: #fff;
  border-radius: 10px;
  cursor: default;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  user-select: none;
}

.calendar-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.calendar ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.calendar ul li {
  width: calc(100% / 7);
  position: relative;
  z-index: 2;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#prev,
#next {
  width: 20px;
  height: 20px;
  position: relative;
  border: none;
  background: transparent;
  cursor: pointer;
}

#prev::before,
#next::before {
  content: "";
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  border-color: #ccc;
}

#next::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

#prev::before {
  transform: translate(-50%, -50%) rotate(-135deg);
}

#prev:hover::before,
#next:hover::before {
  border-color: #000;
}

.days {
  font-weight: 600;
}

.dates li.today {
  color: #fff;
}

.dates li.today::before {
  content: "";
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000;
  border-radius: 50%;
  z-index: -1;
}

.dates li.inactive {
  color: #ccc;
}

@media (max-width: 768px) {
  #main {
    grid-template-columns: 100%;
    grid-template-areas: "a" "b" "c";
  }

  #left-sidebar {
    grid-area: "a";
    background-color: black;
    width: 100%;
    height: 70px;
  }

  main {
    grid-area: "b";
    background-color: red;
    width: 100%;
    height: 100%;
  }

  #right-sidebar {
    grid-area: "c";
    background-color: blue;
    width: 100%;
    height: 100%;
  }
}
=======
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* img {
  pointer-events: none;
  user-select: none;
}

/* ====== BODY ====== */

#main {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "a b c";
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

/* ====== NavBar ====== */

#left-sidebar {
  grid-area: "a";
  background-color: #000;
  width: 245px;
  height: 100vh;
  z-index: 1;
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.4);
}

header {
  padding: 30px 20px;
}

#header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

#header-logo img {
  width: 200px;
}

#navbar .nav-link {
  position: relative;
  width: 200px;
  height: 50px;
  font-size: 1rem;
  border-radius: 10px;
  margin-top: 15px;
  transition: 0.2s ease-in-out;
}

#navbar .nav-link i {
  font-size: 1.6rem;
  margin-right: 10px;
}

#navbar .nav-link:hover {
  background-color: #fff;
}

#navbar .nav-link a {
  width: 100%;
  height: 100%;
  padding: 20px;
  color: #ccc;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: 0.2s ease-in-out;
}

#navbar .nav-link:hover a {
  color: #000;
}

#navbar .nav-link .active {
  color: #fff;
}

#navbar .nav-link .active::before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: 2px;
  height: 100%;
  background-color: #fff;
}

/* ====== MAIN Content ====== */

main {
  grid-area: "b";
  background-color: #ccc;
  width: 100%;
  height: 100vh;
}

/* ====== Hero Section ====== */
#hero {
  width: 95%;
  height: 100%;
  margin: auto;
  margin-top: 20px;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
}

#hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0 50px 80px;
}

#hero-content h1 {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}

#hero-content p {
  font-size: 1.2rem;
  margin-top: 5px;
}

#hero-img {
  width: fit-content;
  padding: 0 100px;
}

#hero-img img {
  width: 300px;
}

/* ====== DashBoard ====== */
#dashboard {
  width: 95%;
  margin: auto;
}

#cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-columns: max-content;
  grid-gap: 30px;
  margin-top: 40px;
}

#cards :nth-child(2) {
  grid-column: span 2;
  grid-row: span 2;
}

.card img {
  width: 80%;
}

.card {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
}

/* ====== Student Performance Prediction Model ====== */
#model {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form-wrapper {
  width: 97%;
  height: 97vh;
  border-radius: 10px;
  background-image: url(../Images/ModelBG.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#prediction-form h1 {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 40px;
}

#form {
  display: flex;
  justify-content: center;
}

#form-container {
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 500px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #333;
  font-weight: bold;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="number"]:focus {
  border-color: #000;
  outline: none;
}

/* Button Styling */
#submit-button {
  width: 100%;
  background-color: #000;
  color: white;
  border: none;
  padding: 10px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#submit-button:hover {
  background-color: #0000009a;
}

#result {
  margin-top: 20px;
  text-align: center;
}

/* ====== Assignment ====== */
#form-responses {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

iframe {
  width: 97%;
  height: 97vh;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* ====== Right Sidebar ====== */

#right-sidebar {
  grid-area: "c";
  width: 360px;
  height: 100vh;
  z-index: 1;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
}

/* ====== User Info ====== */

#user-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
  border-radius: 10px;
  padding: 10px 10px 10px 20px;
  gap: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  user-select: none;
  transition: .2s ease-in-out
}

#user-info:hover {
  background-color: #e7e7e7;
}

#user-icon {
  font-size: 2.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  display: none; 
  position: absolute;
  top: 85px;
  right: 20px;
  width: 320px;
  background-color: #d1d1d1;
  color: black;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.popup::after {
  content: "";
  position: absolute;
  top: -30%;
  left: 30px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #d1d1d1 transparent;
}

.popup-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  text-wrap: nowrap;
}

.logout-button {
  color: black;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: .2s ease-in-out
}

.logout-button:hover {
  background-color: #c9302c;
  color: white;
}

.logout-button i {
  transform: rotate(180deg);
  margin-left: 10px;
}

/* ====== Calendar ====== */

#calendar-container {
  font-family: "Poppins", sans-serif;
}

#calendar h3 {
  font-weight: 600;
}

.calendar {
  margin: 20px;
  width: clamp(20rem, 0vw + 20rem, 20rem);
  padding: 1rem;
  background: #fff;
  border-radius: 10px;
  cursor: default;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  user-select: none;
}

.calendar-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.calendar ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.calendar ul li {
  width: calc(100% / 7);
  position: relative;
  z-index: 2;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#prev,
#next {
  width: 20px;
  height: 20px;
  position: relative;
  border: none;
  background: transparent;
  cursor: pointer;
}

#prev::before,
#next::before {
  content: "";
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  border-color: #ccc;
}

#next::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

#prev::before {
  transform: translate(-50%, -50%) rotate(-135deg);
}

#prev:hover::before,
#next:hover::before {
  border-color: #000;
}

.days {
  font-weight: 600;
}

.dates li.today {
  color: #fff;
}

.dates li.today::before {
  content: "";
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000;
  border-radius: 50%;
  z-index: -1;
}

.dates li.inactive {
  color: #ccc;
}

@media (max-width: 768px) {
  #main {
    grid-template-columns: 100%;
    grid-template-areas: "a" "b" "c";
  }

  #left-sidebar {
    grid-area: "a";
    background-color: black;
    width: 100%;
    height: 70px;
  }

  main {
    grid-area: "b";
    background-color: red;
    width: 100%;
    height: 100%;
  }

  #right-sidebar {
    grid-area: "c";
    background-color: blue;
    width: 100%;
    height: 100%;
  }
}
>>>>>>> e15557ecab5bdcb2311bbce011b5afc1d0f69998
